<!DOCTYPE HTML>

<head>
  <title> Scrapyard </title>
</head>

<body>
  Your game changing idea

  <form method='post' action='/ideas'>
    <input type='text' name='idea[title]'></input>
    <textarea name='idea[description]'></textarea>
    <input type='submit'> Create Idea </input>
  </form>

</body>
