@import url(http://fonts.googleapis.com/css?family=Raleway);

.container {
  width: 960px;
  margin: 0 auto;
  font-family: Raleway;
}

.site-header-link {
  width: 200px;
  display: block;
  margin: 30px auto 0;
  text-decoration: none;
  text-align: center;
  color: #171717;
  font-size: 32px;
  font-weight: bold;
}

.create-idea-link {
  width: 200px;
  margin: 30px auto 0;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-variant: small-caps;
  border: 1px dotted #16A085;
  color: #171717;
}

.create-idea-link:hover {
  border: 1px solid #16A085;
}

.idea-list {
  margin: 40px auto 0;
  width: 70%;
}

.idea-list-item {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: #171717;
  padding: 10px;
}

.idea-list-item:hover {
  color: #16A085;
  background-color: #ECF0F1;
}

/* new idea */

label, input {
  display: block;
}

label {
  margin-top: 20px;
  font-size: 18px;
}

.new-idea-form {
  width: 70%;
  margin: 60px auto 0;
}

.new-idea-form-title, .new-idea-form-description {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  border: 1px solid #AAA;
}

.new-idea-form-description {
  height: 300px;
}

.new-idea-form-need {
  margin-top: 10px;
  width: 300px;
}

.new-idea-form-submit {
  border: 1px dotted #16A085;
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  font-weight: bolder;
}

.new-idea-form-submit:hover {
  cursor: pointer;
  border: 1px solid #16A085;
}

/* idea show */

.idea-details {
  margin: 60px auto 0;
  width: 70%;
}

/* errors */
.error-messages {
  width: 75%;
  margin: 45px auto 0;
  color: crimson;
}